.error404 {

    .site-content {

        display: table;
        height: 90%;
        width: 100%;

    }

    .content-area {

        display: table-cell;
        vertical-align: middle;
        text-align: center;

    }

}