.entry-title {

    text-transform: uppercase;
    color: $secondary-color;
    letter-spacing: $global-margin/2;
    font-size: 1.5rem;
    padding: $global-padding 0 0;

}

.single {

    .entry-title {

        text-align: center;

    }

    .entry-content p {

        text-indent: $global-margin;

    }

}

.archive {

    .post {

        @include clearfix();
        @include grid-column;

        background-color: $white;
        text-align: left;
        margin-bottom: $global-margin;

        @include breakpoint( grid ) {

            @include grid-column-collapse;

        }

        .entry-header {

            @include grid-column(3);
            @include grid-column-collapse;

            background: {
                size: cover;
                position: center center;
                repeat: no-repeat;
            };

        }

        .entry-content {

            @include grid-column(9);

        }

        .byline {

            display: none;

        }

    }

}

.page {

    .entry-content {

        padding-bottom: $global-padding;
        padding-top: $global-padding;

        @include grid-column(12);

        @include breakpoint(medium) {

            @include grid-column(10);
            @include grid-column-position(center);

        }

        @include breakpoint(large) {

            @include grid-column(6);
            @include grid-column-position(center);

        }

    }

}

.archive-page-header {

    padding: $global-padding*4 0 $global-padding;
    text-align: center;

}

.archive-page-header,
.archive-posts {

    @include grid-row();

}