.entry-title {

    text-transform: uppercase;
    text-align: center;
    color: $secondary-color;
    letter-spacing: $global-margin/2;
    font-size: 1.5rem;
    padding: $global-padding 0;

}

.entry-content p {

    text-indent: $global-margin;

}

.page {

    @include grid-row();

    .entry-content {

        padding-bottom: $global-padding;
        padding-top: $global-padding;

        @include grid-column(12);

        @include breakpoint(medium) {

            @include grid-column(10);
            @include grid-column-position(center);

        }

        @include breakpoint(large) {

            @include grid-column(6);
            @include grid-column-position(center);

        }

    }

}