.content-secondary,
.content-tertiary,
.content-quarternary {

    .widget-title {

        margin-bottom: $global-padding*2;

    }

}

.primary {

    .archive-title {

        padding: $global-padding*2 0;
        margin: 0;

    }

}

.archive {

    .archive-title {

        font-weight: 100;
        text-align: center;
        text-transform: uppercase;

    }

    .entry-title {

        margin-bottom: 0;
        padding-bottom: 0;

    }

}