.navigation-links {

    @include clearfix;

    text-align: center;

    .home & {

        &.navigation-links--top {

            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9;
            width: 100%;

        }

    }

    .fa {

        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;

    }

    li {

        display: inline-block;

    }

    .social-media-links {

        float: left;
        margin: 0;

        .site-footer & {

            text-align: center;
            width: 100%;

        }

    }

    .social-media-links {

        text-align: left;

    }

    .site-footer & {

        margin: 4rem auto;

    }

}

.main-navigation {

    a {

        display: inline-block;

    }

}

.menu-toggle {

    display: block;
    padding: 0 1rem;

    .fa {

        width: 20px;

    }

    .menu-toggle-text {

        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: bold;
        line-height: 40px;
        vertical-align: middle;

    }

}